<b>Создаем df's на базе наших Excel файлов</b>

In [158]:
import pandas as pd

activity = pd.read_excel('Предмет1_Посещаемость.xlsx')
scale = pd.read_excel('Предмет1-шкала.xlsx')
grades = pd.read_excel('Предмет 1 - Оценки.xlsx')
rating = pd.DataFrame()

<b>Разделение файла "Шкала" на баллы, баллы делим на 100</b>

In [159]:
points_scale = {
    'ЛК': float(scale.iloc[0, scale.columns.get_loc('Финально')]) / 100,
    'Посещаемость': float(scale.iloc[1, scale.columns.get_loc('Финально')]) / 100,
    'ЛР': float(scale.iloc[2, scale.columns.get_loc('Финально')]) / 100,
    'ПЗ': float(scale.iloc[3, scale.columns.get_loc('Финально')]) / 100,
    'КР': float(scale.iloc[4, scale.columns.get_loc('Финально')]) / 100,
    'ДЗ': float(scale.iloc[5, scale.columns.get_loc('Финально')]) / 100
}

points_scale

{'ЛК': 0.1, 'Посещаемость': 0.15, 'ЛР': 0.3, 'ПЗ': 0.25, 'КР': 0.1, 'ДЗ': 0.1}

<b>Преобразование колонок, с которыми мы будем работать, в тип float</b>

In [160]:
rating['Фамилия'] = activity['Фамилия']
rating['Сумма баллов'] = 0
activity['Процент'] = activity['Процент'].str.replace(',', '.').astype(float)

for columns, series in grades.items():
    if 'Задание' in columns:
        grades[columns] = pd.to_numeric(series, errors='coerce').astype(float)

<b>Подсчет баллов за посещаемость</b>

In [161]:
for columns, series in activity.items():
    if columns == 'Процент':
        for i in range(len(series)):
            rating.at[i, 'Сумма баллов'] += points_scale['Посещаемость'] * series[i]

rating

       Фамилия  Сумма баллов
0     Антонова          7.50
1       Блинов          8.25
2   Винокурова         10.50
3   Владимиров          6.00
4     Гордеева         15.00
5       Гусева         15.00
6      Демидов          0.00
7      Денисов         15.00
8       Егоров         15.00
9    Журавлева         15.00
10     Зайцева          6.00
11     Иванова          0.00
12     Колосов          4.50
13    Кузьмина         15.00
14      Лаптев         10.50
15     Лебедев          3.75
16    Лобанова         14.25
17     Майоров         15.00
18    Максимов          6.00
19     Маркина          7.50
20      Марков         15.00
21  Мельникова         12.75
22    Меркулов          3.00
23   Михайлова         12.00
24    Моисеева          0.00
25   Молчанова          9.00
26      Орехов          6.00
27      Павлов         15.00
28     Павлова         11.25
29   Прохорова         12.00
30     Сафонов         12.00
31    Сафонова          4.50
32    Сафонова          6.00
33     Сидоров          9.00
34   Скворцова         15.00
35    Смирнова         11.25
36   Соловьева         13.50
37   Степанова         15.00
38     Фирсова         15.00
39   Харитонов         15.00

<b>Создается словарь, чтобы подсчитать общее количество занятий</b>

In [162]:
value_of_sub = {'Лк': 0.0, 'Лр': 0.0, 'Пз': 0.0, 'Дз': 0.0, 'Кр': 0.0}

for columns, series in grades.items():
    if 'Лк' in columns:
       value_of_sub['Лк'] += 1
    elif 'ЛР' in columns:
        value_of_sub['Лр'] += 1
    elif 'Пз' in columns and 'КР' not in columns:
        value_of_sub['Пз'] += 1
    elif 'ДЗ' or 'Дз' in columns:
        value_of_sub['Дз'] += 1
    elif 'КР' in columns:
        value_of_sub['Кр'] += 1

value_of_sub

{'Лк': 9.0, 'Лр': 8.0, 'Пз': 22.0, 'Дз': 25.0, 'Кр': 0.0}

<b>Подсчет баллов за присланные лк, лр, пз и т.д.</b>

In [163]:
for columns, series in grades.items():
    if 'Лк' in columns:
        for i in range(len(series)):
            if pd.notna(series[i]):
                rating.at[i, 'Сумма баллов'] += (points_scale['ЛК'] / value_of_sub['Лк']) * series[i]
    elif 'ЛР' in columns:
        for i in range(len(series)):
            if pd.notna(series[i]):
                rating.at[i, 'Сумма баллов'] += (points_scale['ЛР'] / value_of_sub['Лр']) * series[i]
    elif 'Пз' in columns and 'КР' not in columns:
        for i in range(len(series)):
            if pd.notna(series[i]):
                rating.at[i, 'Сумма баллов'] += (points_scale['ПЗ'] / value_of_sub['Пз']) * series[i]
    elif 'ДЗ' or 'Дз' in columns:
        for i in range(len(series)):
            if pd.notna(series[i]):
                rating.at[i, 'Сумма баллов'] += (points_scale['ДЗ'] / value_of_sub['Дз']) * series[i]
    elif 'КР' in columns:
        for i in range(len(series)):
            if pd.notna(series[i]):
                rating.at[i, 'Сумма баллов'] += (points_scale['КР'] / value_of_sub['Кр']) * series[i]

sorted_rating = rating.sort_values(by='Сумма баллов', ascending=False)
sorted_rating = sorted_rating.reset_index(drop=True)
sorted_rating

       Фамилия  Сумма баллов
0       Марков     21.661616
1      Денисов     21.661616
2    Харитонов     20.580808
3       Гусева     20.467172
4    Скворцова     20.412879
5       Егоров     20.247475
6       Павлов     20.078283
7      Фирсова     19.910354
8     Кузьмина     19.568182
9   Мельникова     19.354798
10   Степанова     19.191919
11    Лобанова     18.986111
12   Журавлева     17.679293
13   Соловьева     17.521465
14    Смирнова     16.329545
15     Майоров     16.079545
16   Прохорова     15.021465
17    Гордеева     15.000000
18     Сафонов     14.944444
19   Михайлова     12.795455
20  Винокурова     12.410354
21     Павлова     12.386364
22   Молчанова     12.277778
23      Лаптев     11.465909
24     Сидоров     10.683081
25      Блинов      9.305556
26    Антонова      8.125000
27     Колосов      7.611111
28     Маркина      7.500000
29     Зайцева      7.136364
30  Владимиров      7.136364
31      Орехов      7.079545
32    Сафонова      6.738636
33    Сафонова      6.579545
34    Максимов      6.000000
35     Лебедев      3.750000
36    Меркулов      3.000000
37    Моисеева      2.444444
38     Иванова      0.000000
39     Демидов      0.000000

<b>Выгрузка данных в Excel</b>

In [164]:
sorted_rating.to_excel('Рейтинг.xlsx', index=False)